# Application Kconfig file
#
# This is loaded when building this directory with west.
menu "Memfault Example Application Configuration"

config ZEPHYR_MEMFAULT_EXAMPLE_SOFTWARE_VERSION
    string "Software Version"
    default "1.0.0"
    help
      The software version to report to Memfault.

config MEMFAULT_PROJECT_KEY
    string "Memfault Project Key"
    depends on MEMFAULT_HTTP_ENABLE
    help
      The project key for the Memfault project to report to.

endmenu

source "Kconfig.zephyr"
